div#modal-about.modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop='static')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title About MarkdownEditor.js
            div.modal-body
                dl.dl-horizontal
                    dt Version
                    dd: p #{version}
                    dt Author
                    dd: p: a(target='_system', href='https://github.com/constantinexue') ConstantineXue
                    dt Project Home
                    dd: p: a(target='_system', href='#{repository}') #{repository}
                    dt Dependencies
                    dd
                        ul.list-unstyled
                            - each val, key in about.dependencies
                                li: a(target='_system', href='#{val}') #{key}
                    dt References
                    dd
                        ul.list-unstyled
                            - each val, key in about.references
                                li: a(target='_system', href='#{val}') #{key}
            div.modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') OK